<!doctype html>
<html>
    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

    <style>
    {{{css}}}
    </style>

    </head>
    <body>

    <div id="resume">
        {{#if resume.basics}}
        <div class="section">
            {{> basics }}
        </div>
        {{/if}}
        {{#if resume.skills.length}}
        <div class="section">
            {{> skills }}
        </div>
        {{/if}}
        {{#if resume.work.length}}
        <div class="section">
            {{> work }}
        </div>
        {{/if}}
        {{#if resume.education.length}}
        <div class="section">
            {{> education }}
        </div>
        {{/if}}
        {{#if resume.certificates.length}}
        <div class="section">
            {{> certifications }}
        </div>
        {{/if}}
        {{#if resume.projects.length}}
        <div class="section">
            {{> projects }}
        </div>
        {{/if}}
        {{#if resume.awards.length}}
        <div class="section">
            {{> awards }}
        </div>
        {{/if}}
        {{#if resume.volunteer.length}}
        <div class="section">
            {{> volunteer }}
        </div>
        {{/if}}
        {{#if resume.languages.length}}
        <div class="section">
            {{> languages }}
        </div>
        {{/if}}
    </div>
    
    </body>
</html>
