{{#if resume.work.length}}
<section id="work">
    <h2>Professional Experience</h2>
    {{#each resume.work}}
        {{#> item title=company subtitle=position startDate=startDate endDate=endDate}}

        {{#if summary}}
        <div class="summary">
            <p>{{summary}}</p>
        </div>
        {{/if}}

        {{#if highlights.length}}
        <ul class="highlights">
            {{#each highlights}}
            <li>{{{.}}}</li>
            {{/each}}
        </ul>
        {{/if}}
        {{/item}}
    {{/each}}
</section>
{{/if}}
